/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/env/.env
scraper/chromedriver
scraper/__pycache__
.vscode/cpx.json
.vscode/launch.json
.vscode/settings.json
node/node_modules/*
