scraper/chromedriver
scraper/__pycache__/mediumScraper.cpython-38.pyc
scraper/__pycache__/mediumScraper1.cpython-38.pyc
scraper/__pycache__/mediumScraper.cpython-38.pyc
.vscode/cpx.json
.vscode/launch.json
.vscode/settings.json
scraper/__pycache__/mediumScraper.cpython-38.pyc
env/.env
